.review-container {
    display: flex;
    gap: 10px;
}

#form-review {
    position: relative;
    border-bottom: 1px solid var(--text-color);
}
.review-unit h5 {
    margin: 10px 0;
}

.review-unit {
    text-align: center;
    text-wrap: nowrap;
    border-radius: 10px;
    background-color: var(--review-field);
    overflow: auto;
    width: 100%;
    padding: 0 0.5em;
    margin: 10px 0;
}

@media(max-width:576px) {
    .review-container {
        flex-direction: column;
    }
    #form-review {
        border: unset;
    }
}