#form-three {
    display: flex;
}

#form-three label {
    cursor: pointer;
}

#form-three input {
    display: none;
}

.custom-radio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 1px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

input[type="radio"]:checked+.custom-radio::before {
    content: "✓";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: var(--secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 10px;
}

.input-container {
    display: flex;
    padding: 1em;
    width: 100%;
    min-width: 200px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.selected {
    border: 1px solid var(--secondary);
}

