#final-form {
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: none;
    padding-bottom: 0;
    gap: 0.5rem;
}

#final-form img{
    width: 100px;
}

#final-form h4 {
    position: relative;
}

.celebrationImg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4rem;
    bottom: 1px;
    padding: 0;
}